Django==2.2.5
dnspython==1.16.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Migrate==2.1.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.2
Flask-Testing==0.6.2
gunicorn==19.9.0
itsdangerous==0.24
Jinja2==2.10.3
jsonify==0.5
mysql-connector-python==8.0.19
numpy==1.16.4
opencv-python==4.1.0.25
pandas==1.0.1
pycparser==2.18
pylint==2.4.3
pymssql==2.1.4
pyOpenSSL==19.1.0
requests==2.22.0
SQLAlchemy==1.1.13
sqlparse==0.3.0
urllib3==1.25.3
virtualenv==20.0.21
virtualenv-clone==0.5.4
Werkzeug==0.16.0